* {
  font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: url("forest.svg") no-repeat center center fixed;
    background-size: cover; 
    min-height: 100vh; 
    display: flex;     
    justify-content: center;
    align-items: center;    
}

.login-box {
    height: auto;           
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px); /* Safari support */
    margin: auto;
    width: 380px;
    padding: 25px 40px 25px 40px;
    border: 2px solid #2D1F37;
    border-radius: 25px;
    box-shadow: 0 2px 70px rgba(0, 0, 0, 0.4);
}

.login-box h1 {
    color: #2D1F37;
    text-align: center;
    padding-bottom: 25px;
}

.user-input {
    background: none;
    border: none;
    border-bottom: 2px solid #2D1F37;
    padding-bottom: 8px;
    color: #2D1F37;
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;  
}

.user-input::placeholder {
    color: #2D1F37;
    font-size: 18px;
}

.user-input:focus {
    outline: none;
    border-color: inherit; 
    box-shadow: none;
}

.input-container .icon {
    position: absolute;
    right: 10px;              
    top: 45%;
    transform: translateY(-50%);
    width: 24px;             
    height: 24px;
    object-fit: contain;
    pointer-events: none;   
    color: #2D1F37;  
}

.input-container {
    position: relative;
    width: 100%;
}

.email-password {
    display: flex;   
    flex-direction: column;
    gap: 50px;      
}

.forgot-password {
    cursor: pointer;
    color: #2D1F37;   
    font-size: 14px;
    position: relative;
}

.forgot-password::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1.5px; 
    width: 100%;
    background-color: #2D1F37; 
    transform: scaleX(0); 
    transform-origin: left; 
    transition: transform 0.3s ease; 
}

.forgot-password:hover::after {
    transform: scaleX(1);
}

.sign-up-btn {
    display: block;           
    margin: 35px auto 0 auto; 
    box-sizing: border-box;
    width: 100%; 
    padding: 12px;
    background-color: #2D1F37;
    color: white;            
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sign-up-btn:hover {
    background-color: #1a1423; 
    transform: translateY(-2px); 
}

.journey-text {
    color: #2D1F37;
    text-align: center;
    padding-top: 20px;
}

.journey-text .login {
    position: relative;       
    color: #2D1F37;
    font-weight: bold;
    text-decoration: none;
    margin-left: 3px;
    cursor: pointer;
}

.journey-text .login::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;               
    height: 1.5px;           
    width: 100%;
    background-color: #2D1F37;
    transform: scaleX(0);    
    transform-origin: left;
    transition: transform 0.3s ease;
}

.journey-text .login:hover::after {
    transform: scaleX(1);    
}
